doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='/img/favicon.ico')
  link(rel='stylesheet', href='/css/utilities.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='https://kit.fontawesome.com/ba48108ed1.js' crossorigin='anonymous')
  title Iowa City Tenants Union | Housing is a Human Right
.wrapper
  // Navbar
  .navbar
    .container.flex
      a(href='/')
        img.logo(src='/img/unionpic.jpg' alt='Iowa City Tenants Union')
      nav.nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/resources') Tenant Resources
          li
            a(href='/ratings') Landlord Reviews
  // Showcase
  section.showcase.about-showcase.b-top
    .container.flex
        if successes
          for success in successes
            div.alert.alert-success.temp #{ success }
        if errors
          for error, i in errors
            div.alert.alert-danger.temp #{ error }
    .container.flex
      h1.mb-1.text-center Anonymous Reviews of Johnson County Landlords
    .container.flex
      input.form-control#filterLandlords(type='text' placeholder='Filter Landlords')
    .container.flex
      p.my-1.text-center Search for a landlord to find detailed reviews or add a new review
      
    .container.flex
      table.table.table-striped
        thead
          tr
            th(scope='col') Landlord
            th(scope='col') # of Reviews
            th(scope='col') Avg. Rating
            th.date-header(scope='col') Last Review On
            th(scope='col') 
              .full-text Details/Review
              .short-text Details
        tbody
          each rating, i in ratings
            tr.table-row
              td.landlord(scope='row') #{rating._id}
              td.count #{rating.count}  
              td.avg-stars #{rating.avgstars}       
              td.lst-date.date-body #{rating.lstdate}
              td
                a(href="/ratings/"+ rating.docid).table-details.hvr-forward
                  i.fas.fa-2x.fa-arrow-circle-right
    .container.flex
      a.btn.m-2(href='/ratings/add') Add a new Landlord


  footer.footer.bg-dark.py-4
    .container.grid.grid-3
      div
        h2 Iowa City Tenants Union
        p Copyright &copy; 2020
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/resources') Tenant Resources
          li
            a(href='/ratings') Landlord Reviews
      .social.text-center
        a.mx-1(href='https://mail.google.com/mail/?view=cm&source=mailto&to=iowacitytenantsunion@gmail.com' target='_blank')
          i.fas.fa-envelope.fa-2x
        a.mx-1(href='https://www.facebook.com/IowaCityTenantsUnion' target='_blank')
          i.fab.fa-facebook.fa-2x
        a.mx-1(href='https://twitter.com/ICTenantsUnion' target='_blank')
          i.fab.fa-twitter.fa-2x
script(src='/js/rating.js')
script(src='/js/hideAlerts.js')